body {
	margin: 0;
	padding: 0;
}
.container {
  margin: 0;  
  margin-left:180px;
  /*position: absolute;
  left: 180px;*/
  width: 720px;
  padding-top: 30px;
}

nav {
	width: 150px;
	height: 100%;
	background-color: #bbb;
	position: fixed;
	float: left;
	margin-top: 18px;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav ul li {
	list-style-type: none;
	display: inline-block;
	padding:10px;
	float: left;
	border-bottom: 1px solid #999;
	width: 130px;
}

nav ul li a {
	text-decoration: none;
	color: black;
}

nav ul li:hover{
	background-color: #999999;
}


header h1 {
	margin-top: 0;
}

#top a{
	color: #fff;
	text-decoration: none;
	padding-right: 5px;
}

#top{
	width: 100%;
	background-color: #999;
	position: fixed;
	z-index: 1;
}